<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>관리자</title>
</head>

<main class="container mb-5" id="admin-index" layout:fragment="content">
    <div class="row">
        <div class="col i-1 rounded">
            <a th:href="@{/admin/members}">
                <i class="fas fa-users" style="color: #7d5757"></i>
                <h2>회원관리</h2>
            </a>
        </div>
        <div class="col i-2 rounded">
            <a th:href="@{admin/posts}">
                <i class="far fa-clipboard" style="color: #8f37d2"></i>
                <h2>게시글관리</h2>
            </a>
        </div>
        <div class="col i-3 rounded">
            <a th:href="@{admin/galleries}">
                <i class="fas fa-images" style="color: #654dc7"></i>
                <h2>갤러리관리</h2>
            </a>
        </div>
    </div>
</main>
</html>