<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="headerFragment">
    <nav class="navbar navbar-expand-md bg-purple navbar-dark mb-3 mb-md-5">
        <div class="container py-2">
            <a class="navbar-brand font-weight-bolder" style="font-size: 150%;" th:href="@{/}">YH</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/boards}">
                        <i class="fas fa-clipboard pr-1"></i>게시판</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/galleries}">
                        <i class="fas fa-images pr-1"></i>포토갤러리</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link" th:href="@{/admin}">
                        <i class="fas fa-crown pr-1"></i>관리자</a>
                    </li>
                </ul>
                <ul class="navbar-nav  ml-auto align-items-md-center">
                    <th:block sec:authorize="isAnonymous()">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/members/login}">
                                <i class="fas fa-sign-in-alt pr-1"></i>
                                로그인
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/members/register}">
                                <i class="fas fa-user-plus pr-1"></i>회원가입
                            </a>
                        </li>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()">
                        <li class="nav-item">
                            <a class="d-md-none nav-link" th:href="@{/members/me}">
                                <i class="fas fa-user pr-1"></i>내정보
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-md-none nav-link" th:href="@{/logout}">
                                <i class="fas fa-sign-out-alt pr-1"></i>로그아웃
                            </a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown" th:with="username=${#authentication.principal.username}">
                                <!-- Trigger -->
                                <img class="ml-1 rounded-circle d-none d-md-block" width="50" height="50"
                                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                     th:src="@{|/file/thumb/profile/${username}/profileImage/size(w=50,h=50)|}"
                                     alt="profile" style="cursor: pointer;"/>
                                <!-- Menu -->
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" th:href="@{${username}/member/me}">
                                        <i class="fas fa-user pr-1"></i>내정보
                                    </a>
                                    <a class="dropdown-item" th:href="@{/logout}">
                                        <i class="fas fa-sign-out-alt pr-1"></i>로그아웃
                                    </a>
                                </div>
                            </div>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
    </nav>
</header>
</html>